<section id="about" class="about-section"data-aos="fade-up">
  <div class="about-container" data-aos="fade-up">
    <h2 data-aos="fade-right">About Me</h2>
    
    <div class="about-content">
      <img src="assets/mighty.jpeg" alt="Roshini" class="about-img" data-aos="zoom-in" />
      
      <div class="about-text" data-aos="fade-left">
        <p>
          I am Roshini, a passionate Java Full Stack Developer with strong skills in Java, Spring Boot, Angular, and SQL. I enjoy creating efficient, scalable, and user-friendly web applications.
        </p>
        <p>
          My strengths include hard work, strong organizational skills, and excellent time management. I aim to build my career in a reputed company and contribute to its growth.
        </p>
      </div>
    </div>
  </div>
</section>
